* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 80px;
  background: #141414;
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.btn.uno::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #c4b107;
  position: absolute;
  z-index: 1;
  top: -80px;
  left: 0px;
  transition: .3s ease-in-out all;
}

.btn.uno:hover::after {
  top: 0;
}

.btn span {
  position: relative;
  z-index: 2;
  transition: .3s ease all;;
}